html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    /* background: url('../image/3_siluetas_blancas.jpg') no-repeat center center fixed; */
    /* background-size: contain; */
    display: block;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.contenedor {
    display: flex;
    height: 100vh;
    width: 100vw;
}


.circulo {
    width: 5vw;
    height: 9vh;
    border-radius: 50%;
    position: fixed;
    top: 49%;
    /*left: 51.5%; /* Figura central */
    /*left: 25%; /* Figura izquierda*/
    /*left: 81%; /* Figura derecha*/
    transform: translate(-50%, -50%);
    display: none; /* Inicialmente oculto */
    z-index: 1000;
}


.menu-boton {
    display: inline-block;
    margin: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Quitar subrayado si es un <a> */
    position: fixed;
    top: 80%; /* Distancia desde la parte superior */
    right: 50%;  /* Distancia desde el borde derecho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.menu-boton:hover {
    background-color: #2980b9;
}


.imagen-explicacion {
    position: fixed;
    width: 80%;
    height: 70%;
    top: 10%;
    left: 10%;
    object-fit: cover;
}

.boton-inicio {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px;  /* Distancia desde el borde derecho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.boton-inicio img {
    width: 50px;      /* Ajusta el tamaño del ícono */
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.boton-inicio img:hover {
    transform: scale(1.1); /* Pequeño efecto al pasar el mouse */
}