html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: block;
    position: relative;
}

/* .contenedor {
    position: absolute;
    width: 100%;
    height: 100%;
} */

.contenedor {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
}


.circulo , .cuadrado, .triangulo, .numeroFlotante {
    position: fixed;
    transform: translate(-50%, -50%);
    display: none; /* Inicialmente oculto */
    z-index: 1000;
}

.numeroFlotante {
    font-size: 75px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 100px;
    user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    display: none;
}


.menu-boton {
    display: inline-block;
    margin: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Quitar subrayado si es un <a> */
    position: fixed;
    top: 80%; /* Distancia desde la parte superior */
    right: 50%;  /* Distancia desde el borde derecho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.menu-boton:hover {
    background-color: #2980b9;
}


.imagen-explicacion {
    position: fixed;
    width: 80%;
    height: 70%;
    top: 10%;
    left: 10%;
    object-fit: cover;
}

.boton-inicio {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px;  /* Distancia desde el borde derecho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.boton-inicio img {
    width: 50px;      /* Ajusta el tamaño del ícono */
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.boton-inicio img:hover {
    transform: scale(1.1); /* Pequeño efecto al pasar el mouse */
}

.form-config {
    position: fixed;
    bottom: 20px;
    left: 5%;
    width: 85%;
    background: white;
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 12px 16px;
    z-index: 1000;
    font-size: 18px;
}

.form-config input {
    padding: 8px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.form-config input[type="submit"] {
    padding: 12px;
    background: #3498db;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background .3s;
}

.form-config input[type="submit"]:hover {
    background: gray;
    font-size: 20px;
    color: yellow;
}

.form-config .menu-boton {
    position: static !important;
    top: auto !important;
    right: auto !important;
    margin: 0 !important;
}

.explicacion {
    position: fixed;
    bottom: 50%;

    padding: clamp(2.5rem, 2vw, 5rem);
    font-size: clamp(1.8rem, 2.5vw, 3rem);
}

