html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background: url('../image/silueta.jpg') no-repeat center center fixed;
    background-size: contain;
    display: block;
    position: relative;
}

.contenedor {
    position: absolute;
    width: 100%;
    height: 100%;
}

.boton-inicio {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px;  /* Distancia desde el borde derecho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.boton-inicio img {
    width: 50px;      /* Ajusta el tamaño del ícono */
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.boton-inicio img:hover {
    transform: scale(1.1); /* Pequeño efecto al pasar el mouse */
}