
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: clamp(14px, 2vw, 18px);
    text-align: center;
    padding-top: 100px;
    background-color: #f4f4f4;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-boton {
    display: inline-block;
    align-items: center;
    justify-content: center;

    margin: 20px;
    padding: 0.75em 1.75em;
    font-size: 1em;

    background-color: #3498db;
    color: white;
    
    border: none;
    border-radius: 2rem; /* Bordes redondeados */
    cursor: pointer;
    text-decoration: none; /* Quitar subrayado si es un <a> */

    transition: background-color 0.3s ease;
}

.menu-boton:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}

.boton-info {
    position: fixed;
    top: 1.5rem; /* Distancia desde la parte inferior */
    right: 1.5rem;  /* Distancia desde el borde derecho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.boton-info img {
    width: clamp(36px, 6vw, 50px);      /* Ajusta el tamaño del ícono */
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.boton-info img:hover {
    transform: scale(1.2); /* Pequeño efecto al pasar el mouse */
}

@media (max-width: 768px) {
    .menu-contenedor {
        width: 100%;
        padding: 1.5rem;
    }

    .menu-boton {
        width: 100%;
    }
}