body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
    background-color: #f4f4f4;
}

.menu-boton {
    display: inline-block;
    margin: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Quitar subrayado si es un <a> */
}

.menu-boton:hover {
    background-color: #2980b9;
}

.boton-info {
    position: fixed;
    top: 20px; /* Distancia desde la parte inferior */
    right: 20px;  /* Distancia desde el borde derecho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.boton-info img {
    width: 50px;      /* Ajusta el tamaño del ícono */
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.boton-info img:hover {
    transform: scale(1.1); /* Pequeño efecto al pasar el mouse */
}