html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background: url('../image/silueta.jpg') no-repeat center center fixed;
    background-size: contain;
    display: block;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cuadrado-cadera {
    position: absolute;
    width: 140px;
    height: 90px;
    top: 50%;
    left: 51.85%;
    margin-left: -75px; /* 50% del ancho */
    margin-top: -50px;  /* 50% de la altura */
    background-color: green;
    border: 2px solid black;
    border-radius: 8px;
    -ms-transition: background-color 0.5s ease; /* IE10 transition */
    transition: background-color 0.5s ease;
    /* display: none; */
}

.numero-flotante {
    position: absolute;
    width: 140px;
    height: 90px;
    top: 49%;
    left: 51.85%;
    margin-left: -75px;
    margin-top: -50px;
    font-size: 60px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 100px;
    user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    /* display: none; */
}